<body>  
        <main>
            <div class="login-container">
                <div class="login">
                    <div class="login-input">
                        <h2>ログイン</h2>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                          <p>メールアドレス</p>
                          <%= f.email_field :email, autofocus: true, id: "userid", autocomplete: "email" %>
                          <p>パスワード</p>
                          <%= f.password_field :password, id: "userid", autocomplete: "current-password" %>
                          <% if devise_mapping.rememberable? %>
                            <div class="field">
                              <%= f.check_box :remember_me %>
                              <%= f.label "ログイン状態を保存" %>
                            </div>
                          <% end %>
                          <%= f.submit "ログイン", class: "long-btn login-submit" %>
                        <% end %>
                    </div>
                        <div class="login-btn-wrapper">
                            <p class="or-separater">or</p>
                            <a href="/signup" class="sns-long-btn login-line">
                                <i class="fas fa-plus"></i>
                                LINEでアカウントでログイン
                            </a>
                            <a href="https://www.facebook.com/" class="sns-long-btn login-facebook">
                                <i class="fab fa-facebook-f"></i>
                                Facebookでアカウントでログイン
                            </a>
                            <a href="https://www.twitter.com/" class="sns-long-btn login-twitter">
                                <i class="fab fa-twitter"></i>
                                Twitterアカウントでログイン
                            </a>
                            <a href="https://www.apple.com/" class="sns-long-btn login-apple">
                                <i class="fab fa-apple"></i>
                                Appleでサインイン
                            </a>
                            <p class="readme">＊利用者の許可なく外部サービスに使用されることはありません</p>
                        </div>
                        <div class="signup-link">
                            <a href="/signup">新規会員登録はこちら</a>
                        </div>
                        <%= render "devise/shared/links" %>
                </div>
            </div>
        </main>
    </body>