<body>  
        <main>
            <div class="login-container">
                <div class="login">
                    <div class="login-input">
                        <h2>ログイン</h2>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                          <p>メールアドレス</p>
                          <%= f.email_field :email, autofocus: true, class: "userid", autocomplete: "email" %>
                          <p>パスワード</p>
                          <%= f.password_field :password, class: "userid", autocomplete: "current-password" %>
                          <% if devise_mapping.rememberable? %>
                            <div class="field">
                              <%= f.check_box :remember_me %>
                              <%= f.label "ログイン状態を保存" %>
                            </div>
                          <% end %>
                          <%= f.submit "ログイン", class: "long-btn login-submit" %>
                        <% end %>
                    </div>
                    <div class="login-btn-wrapper">
                        <p class="or-separater">or</p>
                        <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "sns-long-btn login-apple" do %>
                            <i class="fab fa-google"></i>
                            Googleアカウントでログイン
                        <% end %>
                        <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: "sns-long-btn login-facebook" do %>
                            <i class="fab fa-facebook-f"></i>
                            Facebookアカウントでログイン
                        <% end %>

                        <%= link_to user_twitter_omniauth_authorize_path, method: :post, class: "sns-long-btn login-twitter" do %>
                            <i class="fab fa-twitter"></i>
                              Twitterアカウントでログイン
                        <% end %>
                        <p class="readme">＊利用者の許可なく外部サービスに使用されることはありません</p>
                    </div>
                    <div class="signup-link">
                      <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>
        </main>
    </body>