<body>
  <ul class="slick-index">
    <% @projects.each do |project| %>
      <li class="slick-slide slick-current slick-active slick-content">
        <%= link_to(project_path(id: project.id), class: 'slick-list') do %>
          <%= image_tag(project.main_photo) if project.main_photo.present? %>
          <div class="slick-detail-box">
            <p><%= project.title %></p>
            <h1><%= project.description %></h1>
            <div class="slick-detail-date">
              <h3>累計寄付額：<%= project.asp_money %>円</h3>
              <h2>残り日数：<%= project.end_date %>日</h2>
            </div>
          </div> 
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="next-content">
      <i class="fas fa-caret-down"></i>
  </div>
  <div class="main-container">
    <div class="what-adonation">
        <h1>What Is ADoNation?</h1>
        <%= image_tag asset_path('whatadonation.png'), class: "what-adonation-pc" %>
        <%= image_tag asset_path('whatadonation_phone.png'), class: "what-adonation-phone" %>
        <div class="description">
            <p>ADoNationはAd(広告)、project(寄付)、Nation(民衆)を組み合わせた寄付の新しいカタチです。</p>
        </div>
    </div>
    <div class="next-content2">
        <i class="fas fa-caret-down"></i>
    </div>
    <div class="how-to-donate">
        <%= image_tag asset_path('howtodonate.png') %>
    </div>
    <div class="how-to-donate-phone">
      <%= image_tag asset_path('howtodonate_phone.png') %>
    </div>
    <div class="common-questions">
      <p>よくある質問</p>
      <div class="common-questions-detail" id="question1">Click here
        <p id="answer1">djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/></p>
      </div>

      <div class="common-questions-detail" id="question2">Click here
        <p id="answer2">djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/></p>
      </div>

      <div class="common-questions-detail" id="question3">Click here
        <p id="answer3">djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/></p>
      </div>
      
    <div class="common-questions-detail" id="question4">Click here
      <p id="answer4">djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/></p>
    </div>

    <div class="common-questions-detail" id="question5">Click here
      <p id="answer5">djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/>djssdksnlfkslfknslkfnsldkfnslkfn<br/></p>
    </div>
      
    <div class="common-questions-phone">
      <%= image_tag asset_path('question_phone.png') %>
    </div>

  <div class="footer-ad">
    <div class="footer-btn-ad fixed-ad">
      <%= link_to('/', {class: "easy-ad-btn"}) do %>
        <i class="fas fa-play"></i>
        <p>広告を再生</p>
      <% end %>
    </div>
  </div>
</body>

<script>
  // $('.common-questions-detail').on('click', function(){
  //     id =  $(this).attr("id");
  //     slider(id)
  // });
  // function slider(parent_id) {
  //   child_id = $(`#${parent_id}`).children().attr(`id`);
  //   $(`#${child_id}`).slideDown(500)
  // }
</script>
