<main>
    <div class="project-container">
        <div class="project-top-container">
            <div class="project-base-top">
                <ul class="project-image">
                  <li class="slide-item">
                    <%= image_tag(@project.main_photo) if @project.main_photo.present? %> 
                    
                  </li>
                </ul>
                <div class="project-info">
                    <div class="status-money">
                        <p class="money-status">寄付総額</p>
                        <h1><%= @project_donated %>円</h1>
                    </div>
                    <div class="asp-money-show">
                            <p>目標金額</p>
                            <h2><%= @project.asp_money %>円</h2>
                    </div>
                    <div class="project-status-bar">
                    </div>
                    <div class="supporter-num">
                        <p>再生回数</p>
                        <h2><%= @project_pvs_count %>回</h2>
                    </div>
                    <div class="date-remaining">
                        <p>残り日数</p>
                        <h2><%= @project.end_date %>日</h2>
                    </div>
                    <% if @count_limit < 3 %>
                      <%= link_to(project_project_pvs_path(project_id: @project.id), {method: :post}) do %>
                        <div class="project-btn preview-btn edit-btn">
                          <i class="fas fa-hand-holding-heart"></i><p>寄付する</p>
                        </div>
                      <% end %>
                    <% else %>
                      <div class="project-btn preview-btn edit-btn">
                        <i class="fas fa-hand-holding-heart"></i><p>本日の回数上限に達しました。</p>
                      </div>
                      <p>回数リセットまで<span id="timer"></span></p>
                    <% end %>
                </div>
            </div>
            <div class="project-base-down">
              <ul class="project-img-list">
                <li class="thumbnail-item">
                  <%= image_tag(@project.main_photo) if @project.main_photo.present? %>
                  <% if @project.photos.attached? %>
                    <% @project.photos.each do |photo| %>
                      <%= image_tag photo %>
                    <% end %>
                  <% end %>
                </li>
              </ul>
                <div class="project-title">
                    <h1><%= @project.title %></h1>
                </div>
                <div class="project-description">
                    <h2><%= @project.description %></h2>
                </div>
                <div class="project-tag-other">
                    <ul class="project-tag-info">
                        <li><a href="#"># <%= @project.category %></a></li>
                        <li><a href="#"># <%= @project.area %></a></li>
                    </ul>
                    <ul class="project-link-sns">
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">twitter</a></li>
                        <li><a href="#">instagram</a></li>
                        <li><a href="#">埋め込み</a></li>
                    </ul>
                </div>
                <div class="project-base-bottom">
                    <div class="project-page-tab">
                        <ul>
                            <li><a href="#">プロジェクト</a></li>
                            <li><a href="#">アクティビティ</a></li>
                            <li><a href="#">寄付コメント</a></li>
                        </ul>
                    </div>
                    <div class="project-likes">
                        <a href="#">きになる</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-main-container">
            <div class="project-content-left">
                <h3>プロジェクト本文</h3>
                <div class="project-mainbody">
                    <%== @project.mainbody %>
                </div>
            </div>
            <div class="project-content-right">
                <h3>プロジェクトオーナー</h3>
                <div class="project-author">
                  <div class="author-image">
                      <%= image_tag(@user.avatar) %>
                  </div>
                  <div class="author-name">
                      <%= link_to(@user.name, "/users/#{@user.id}") %>
                  </div>
                  <div class="author-profile">
                      <%= @user.profile %>
                  </div>
                  <div class="author-link">
                      <i class="fas fa-globe-asia"></i><a href="https://<%= @user.url %>"><%= @user.url %></a>
                  </div>
                </div>
                <h3>リターン</h3>
                <div class="project-perk">

                </div>
            </div>
        </div>
    </div>
    <div class="edit-footer">
      <% if user_signed_in? %>
        <% if @project.user_id == current_user.id %>
            <div class="footer-btn">
                <%= link_to("プレビュー", preview_project_path(id: @project.id), {class: "edit-btn preview-btn"}) %>
            </div>
        <% end %>
      <% end %>
    </div>
</main>
