<!DOCTYPE html>
<html>
  <head>
    <title>ADoNation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5YTF9HWR44"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5YTF9HWR44');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3262034996509276"
     crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div id="logo">
        <a href="/" class="header-logo"><%= image_tag asset_path('adonationlogo.png') %></a>
      </div>
      <div class="header-list">
        <% if user_signed_in? %>
            <ul class="header-nav-login">
                <li><%= link_to current_user.name, user_profile_path(id: current_user) %></li>
                <li class="header-login-group"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
            <ul class="header-nav-donate">
                <li class="project"><%= link_to "キフル", projects_path %></li>
                <li><%= link_to "ツノル", post_project_path %></li>
            </ul>
        <% else %>
            <ul class="header-nav-login">
                <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                <li class="header-login-group"><%= link_to 'ログイン', new_user_session_path %></li>
            </ul>
            <ul class="header-nav-donate">
                <li class="project"><%= link_to "キフル", projects_path %></li>
                <li><%= link_to "ツノル", post_project_path %></li>
            </ul>
        <% end %>
      </div>
      <div class="nav-menu">
        <div id="hamburger">
          <p class="btn-gNav">
            <span></span>
            <span></span>
            <span></span>
          </p>
          <nav id="gNav" class="">
            <% if user_signed_in? %>
              <ul class="gNav-menu">
                <li><a href="/">トップ</a></li>
                <li class="project"><%= link_to "キフル", projects_path %></li>
                <li><%= link_to "ツノル", post_project_path %></li>
                <li><%= link_to current_user.name, user_profile_path(id: current_user) %></li>
                <li class="header-login-group"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <li><a href="">お問い合わせ</a></li>
              </ul>
            <% else %>
              <ul class="gNav-menu">
                <li><a href="/">トップ</a></li>
                <li class="project"><%= link_to "キフル", projects_path %></li>
                <li><%= link_to "ツノル", post_project_path %></li>
                <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                <li class="header-login-group"><%= link_to 'ログイン', new_user_session_path %></li>
                <li><a href="">お問い合わせ</a></li>
              </ul>
            <% end %>
          </nav>
        </div>
      </div>
    </header>
    <p class="notice">このサイトはリリース前です。行った作業は保存されませんのでご了承ください。<i id="notice-delete" class="fas fa-times"></i></p>
    <% if notice %>
      <p class="notice"><%= notice %><i id="notice-delete" class="fas fa-times"></i></p>
    <% elsif alert %>
      <p class="alert"><%= alert %><i id="alert-delete"class="fas fa-times"></i></p>
    <% end %>
    <%= yield %>
    <footer>
      <a href="/" class="footer-logo"><%= image_tag asset_path('adonationlogofooter.png') %></a>
      <div class="footer-list">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to current_user.name, user_path(id: current_user) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to 'サインアップ', new_user_registration_path %></li>
          <% end %>
          <li><%= link_to 'お問い合わせ', contact_path %></li>
          <li><%= link_to '運営団体', aboutus_path %></li>
          <li><%= link_to '利用規約', terms_path %></li>
          <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
        </ul>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </body>
</html>
